.container {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(
    to right,
    #189ad6,
    #2e5457,
    #3f938d,
    #264f3c
  );
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);

  &:hover {
    background-position: 100% 0;
    transition: all 0.4s ease-in-out;
  }

  &:focus {
    outline: none;
  }
}

.disabled {
  opacity: 0.5;
  background-color: #ccc;
  cursor: not-allowed;

  &:hover {
    background-position: unset;
    transition: unset;
  }
}
