.container {
  text-align: center;
  display: block;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 60px;

  .form {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;

    h1 {
      text-align: center;
      padding: 25px;
    }

    .formInput {
      input {
        height: 30px;
      }
    }

    // input[type="text"],
    // input[type="email"],
    // input[type="tel"],
    // textarea {
    //   width: 100%;
    //   padding: 10px;
    //   border: 1px solid #ccc;
    //   border-radius: 5px;
    //   font-size: 16px;
    //   line-height: 1.5;
    //   margin-bottom: 15px;
    //   outline: none;
    // }

    // .button {
    //   width: 65px;
    //   height: 25px;
    //   justify-items: left;
    //   text-align: center;
    // }

    // .message {
    //   outline: none;
    //   resize: none;
    // }

    .btn-hover {
      width: 200px;
      font-size: 16px;
      font-weight: 600;
      color: #fff;
      cursor: pointer;
      margin-top: 20px;
      height: 55px;
      text-align: center;
      border: none;
      background-size: 300% 100%;
      border-radius: 50px;
      transition: all 0.4s ease-in-out;
    }
    .btn-hover:hover {
      background-position: 100% 0;
      transition: all 0.4s ease-in-out;
    }
    .btn-hover:focus {
      outline: none;
    }
    .btn-hover.color-3 {
      background-image: linear-gradient(
        to right,
        #189ad6,
        #2e5457,
        #6c8a88,
        #718f8d
      );
      box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
    }
  }
}
